.item-wrap {
  padding:var(--spacers-dp8);
}

.item-meta-wrap {
  display:flex;
  align-items: top;
  margin-bottom: var(--spacers-dp8);
}

.item-actions-wrap {
  margin-left: auto;
  flex-shrink: 0;
}
.item-actions-wrap Button {
  margin-left:var(--spacers-dp8);
}

.item-title {
  font-weight:500;
  color:var(--colors-grey800);
  font-size: 14px;
  line-height:19px;
  padding:0;
  margin:0;
  align-self: center;
}

/* Dev only */
.demo-item {
  width:100%;
  height:320px;
  background: #E8F5E9;
  padding:120px 0;
  text-align:center;
  font-family: monospace;
  color:#1B5E20;
}

.narrow-wrap {
  width:300px;
}
